tensorflow
git+https://git@github.com/dodas-ts/boto3sts
git+https://github.com/CYGNUS-RD/cygno.git
https://github.com/CYGNUS-RD/middleware/blob/master/midas/midaslib.tar.gz?raw=true
uproot
scipy
scikit-image
scikit-learn
mahotas